home-page {
    ion-title {
        color: white !important;
    }
    ion-content {
        text-align: center;          
        
        ion-card {
            background-color: white;
        }

        
    }
}