<ion-header>
    
  <ion-navbar>
          <img alt="logo" class="logoImage"  src="assets/img/logo.png" >
          <ion-icon name="home" style="float: right; top: 16px; right: 5px; position:relative; font-size: 23px; color: white;" (tap)="goHome()"></ion-icon>
  </ion-navbar>

</ion-header>

<ion-content>

  <div class="sectionHeader">
    <h2 style="text-align:center;">{{toVisit.title}}</h2>
  </div>

    <div *ngIf="!toVisit.visit">
      <ion-item style="background:white;">
        <ion-label stacked>Nombre y apellido</ion-label>
        <ion-input class="capitalize" disabled="true" style="color: black;" type="text" value="{{toVisit.nombre}} {{toVisit.apellido}}">
        </ion-input>
      </ion-item>
      <ion-item style="background:white;">
          <ion-label stacked>Dirección</ion-label>
          <ion-input class="capitalize" disabled="true" style="color: black;" type="text" value="{{toVisit.direccion}}">
          </ion-input>
      </ion-item>
      <ion-item style="background:white;">
        <ion-label stacked>Entre calles</ion-label>
        <ion-input class="capitalize" disabled="true" style="color: black;" type="text" value="{{toVisit.entrecalles}}">
        </ion-input>
    </ion-item>
      <ion-item style="background:white;">
          <ion-label stacked>Horario acordado</ion-label>
          <ion-input class="capitalize" disabled="true" style="color: black;" type="text" value="{{toVisit.horario}}">
          </ion-input>
      </ion-item>
    </div>

    <div text-center *ngIf="toVisit.visit">
      <div class="contentXd" style="padding: 15px; font-size: 20px;"><h5 style="text-align:center; width: 80%; margin: 0 auto; padding: 5px; position: relative;
  ">({{toVisit.horario}}) - {{toVisit.direccion}}</h5></div>
      <button ion-button
            (tap)="doCheckin()"
            class="login-button"
            type="submit"
            style="margin-top: 30px; background: #006D72; color: white;
            font-size: 14px; width: 60%; padding: 15px" 
            >
      HACER CHECKIN
    </button> 
    </div>

      
  

</ion-content>

<ion-footer>
  <agm-map [latitude]="lat" [longitude]="lng" [zoom]="16">
    <agm-marker [latitude]="lat" [longitude]="lng">      
    </agm-marker>
 </agm-map>


</ion-footer>