home-page {
    ion-content {
        text-align: center;          
        
        ion-card {
            background-color: lightblue !important;
        }
    }
}

[_nghost-c0] > div[_ngcontent-c0] {
    height: auto !important;
}